@media print {
    /* body * {
        visibility: hidden;
    } */

    @page {
        margin: 4px;
        margin-bottom: 5px;
        margin-top: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        size: auto;

    }

    /* #print,
    #print * {
        visibility: visible;
    }

    #print {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
    } */
}